@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.flex{
    display: flex;
}
.filterInvert{
    filter: invert();
}
.font-family{
  font-family: 'Inter', Helvetica, Arial, sans-serif;
    color: white;
}

.bg{
    background-color: #202020;
}
.ft{
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, Helvetica Neue, helvetica, arial, Hiragino Sans, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;
}
.bold{
    font-weight: 700;
}
.clr{
    color: #ffffffb3;
}